#about
  %h1 About

  %p
    :markdown
      The [One Acre Café](http://oneacrecafe.org) is a volunteer-staffed [pay-how-you-can](http://www.oneacrecafe.org/faqs.html) restaurant in Johnson City, TN. [This software](//github.com/OneAcreCafe/volunteers/) is to help them manage their staffing.

      There are three main ways you can participate at this point:

      * **Test**: [Check out the site](http://vols.herokuapp.com/) and sign up for some shifts. If you find any bugs or see something that is obviously lacking, [post an issue](//github.com/OneAcreCafe/volunteers/issues/).
      * **Post a Bounty**: Use [Bountysource](//www.bountysource.com/trackers/391786-one-acre-cafe-volunteers) to place a bounty on an issue. After you do, visit the comments for the issue and post a link back to your bounty.
      * **Code**: Pick an issue, fork the [repo](//github.com/OneAcreCafe/volunteers/), sling, issue a pull request. I've been trying to figure out how to keep people from duplicating work when competing for bounties. The process I like currently is you post a comment with your timeframe to the issue. If it seems reasonable then you will be assigned the issue and have until that date to get the work done. After that it is up for grabs again.

